/* =================BASE STYLE==================== */

html {
    background-color: palegoldenrod;
}

body{
    margin:0 2em;
}

/* =====================MAIN======================= */

main {
    display: flex;
    border-top:1px white solid;
    border-bottom: 1px white solid;
    margin:2em 0;
}
main section {
    flex:1;
    margin: 2em 1.5em 2em 0;
}

section.left {
    border-right: 1px white solid;
}

section.middle {
    border-right: 1px white solid;
}
footer {
    display:flex
}
footer div {
    margin: 0 1em 0 0;
}

